// Colors
$primary: #FEBD59;
$orange: #FF9D00;
$orange-light: #FF9A00;
$orange-medium: #FFBC4C;
$orange-bright: #FFDE63;

// Transitions
$smooth-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$bounce-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
